@use 'mixins' as *;

.headerWrapper {
    @include responsive-max-width;
}

.headerTab {
    display: flex;
    padding: 1rem 1.5rem;
    overflow-x: auto;
    gap: 30px;
    white-space: nowrap;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.tabItem {
    flex: 0 0 auto;
    cursor: pointer;

    &.cur {
        color: red;
    }
}

