@use 'mixins' as *;
@use 'variables' as var;

.sectionContainer {
    @include responsive-max-width;
}

.sectionTitle {
    font-size: 1rem;
}

.bgPrimary {
  background-color: var.$primary;
  color: var.$onPrimary;
}

.bgSecondary {
  background-color: var.$secondary;
  color: var.$onSecondary;
}

.bgTertiary {
  background-color: var.$tertiary;
  color: var.$onTertiary;
}